.cardContainer
{  width: 30%;
    min-width: 400px;
   margin: 20px;
   height: 200px;
}
.cardImg
{
    width: 290px;
    height: 290px;
    padding: 20px;
}
@media (max-width: 576px) {
    .cardContainer
    {
        width:100%;
    }
  }